li{
  cursor: pointer;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  transition: all 0.2s ease-in;
  position: relative;
}
ul{
  padding-left: 0;
  width: 300px;
  overflow: visible;
  margin: 0 auto;
  padding-top: 10px;
}
body{
  font-family: sans-serif;
  text-align: center;
}
